body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #061741;
}

header, footer {
    background-color: #081873;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    margin-top: auto;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: #0A2A75;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    color: white;
}

.left-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

.left-panel img {
    max-width: 100%;
    border-radius: 10px;
}

.right-panel {
    flex: 1;
    background-color: #0C1831;
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-panel h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    padding: 20px; /* Reduced padding to make it more uniform */
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 10px; /* Increased margin for more space */
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Added margin for space between fields */
    border: none;
    border-radius: 5px;
}

.form-group input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px; /* Added margin for space */
}

.custom-file-upload span {
    color: #666;
    display: inline-block;
    width: calc(100% - 100px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.custom-file-upload::after {
    content: 'Choose File';
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #ccc;
    background-color: #83acd4;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1E90FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#file-name {
    margin-left: 10px;
}